<!DOCTYPE HTML>

<html>
<head>
    <title>Titulo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">Nome do sistema</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li> @Html.ActionLink("Acesso ao sistema", "Index", "Noticia")</li>
                                <li><a href="#">Cadastros</a></li>
                                <li><a href="#">Consultas</a></li>
                                <li><a href="#">Sign Up</a></li>
                                <li><a href="#">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Nome da Asplicacao</h2>
                <p>
                    texto oajsijaijsiaj<br />
                    texto oajsijaijsiaj texto oajsijaijsiaj<br />
                    Experimente <a href="#">Gratis</a>.
                </p>
                <ul class="actions">
                    <li><a href="#" class="button special">uh uhuahsuh</a></li>
                </ul>
            </div>
            <a href="#one" class="more scrolly">Saiba mais</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>
                        uh nessw<br />
                        uscusncunusncunscunsuncs
                    </h2>
                    <p>
                        csucussssss cccccccccc ccccccs sss       ssss sss ss sssssssssssssssssss<br />
                        csucussssss cccccccccc ccccccs sss       ssss sss ss sssssssssssssssssss.
                    </p>
                </header>
                <ul class="icons major">
                    <li><span class="icon fa-diamond major style1"><span class="label">1ojojo</span></span></li>
                    <li><span class="icon fa-heart-o major style2"><span class="label">2oskd</span></span></li>
                    <li><span class="icon fa-code major style3" ><span class="label">3pokoko</span></span></li>
                </ul>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">

                <div class="image"><img src="@Url.Content("~/Content/images/pic01.jpg")" alt="" /></div><div class="content">
                    <h2>
                        csucussssss cccccccccc <br />
                        csucussssss cccc
                    </h2>
                    <p>csucussssss cccccccccc ccccccs sss erducsucussssss cccccccccc ccccccs sss ndre ccccccs sss erducsucnullam ccccccs sss erducsuc.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="@Url.Content("~/Content/images/pic02.jpg")" alt="" /></div><div class="content">
                    <h2>
                        Tortor dolore feugiat<br />
                        elementum magna
                    </h2>
                    <p>csucussssss cccccccccc ccccccs sss erducsucussssss cccccccccc ccccccs sss ndre ccccccs sss erducsucnullam ccccccs sss erducsuc.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="@Url.Content("~/Content/images/pic03.jpg")" alt="" /></div><div class="content">
                    <h2>
                        Augue eleifend aliquet<br />
                        sed condimentum
                    </h2>
                    <p>csucussssss cccccccccc ccccccs sss erducsucussssss cccccccccc ccccccs sss ndre ccccccs sss erducsucnullam ccccccs sss erducsuc.</p>
                </div>
            </section>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>shdushudhsu suhdushdushd  dsuh ud</h2>
                    <p>
                    <p>ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u   dsuh sd ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u .</p>
                    </p>
                </header>
                <ul class="features">
                    <li class="icon fa-paper-plane-o">
                        <h3>titulo 1</h3>
                        <p>ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u   dsuh sd ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u .</p>
                    </li>
                    <li class="icon fa-laptop">
                        <h3>titulo 2t</h3>
                        <p>ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u   dsuh sd ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u ..</p>
                    </li>
                    <li class="icon fa-code">
                        <h3>Titulo 3</h3>
                        <p>ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u   dsuh sd ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u ..</p>
                    </li>
                    <li class="icon fa-headphones">
                        <h3>Titulo 4</h3>
                        <p>ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u   dsuh sd ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u ..</p>
                    </li>
                    <li class="icon fa-heart-o">
                        <h3>Titulo 5</h3>
                        <p>ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u   dsuh sd ushdushudhsu suhdushdushd  dsuh udhs  hdsudhs    dsuhd u .</p>
                    </li>
                    <li class="icon fa-flag-o">
                        <h3>titulo</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- CTA -->
        <section id="cta" class="wrapper style4">
            <div class="inner">
                <header>
                    <h2>tetetete</h2>
                    <p>dsdsds .</p>
                </header>
                <ul class="actions vertical">
                    <li><a href="#" class="button fit special">...</a></li>
                    <li><a href="#" class="button fit">Saiba mais</a></li>
                </ul>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://www.techwayinfo.com.br/"> Techway company</a></li>
            </ul>
        </footer>
        @RenderBody()
    </div>

    <!-- Scripts -->

    <script src="@Url.Content("~/Scripts/js/style-xsmall.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.scrollex.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.scrolly.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/skel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/util.js")"></script>
    <script src="@Url.Content("~/Scripts/js/main.js")"></script>



    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>
</html>