<!Doctype html>
<html>
<head>
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_MenuSuperior")

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                @Html.Action("Index", "Menu")
            </div>

            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <footer>
            <p>
                &copy; @DateTime.Now.Year   rodapés
            </p>
        </footer>

    </div>



    @RenderSection("Scripts", false)
</body>


</html>
